@charset "UTF-8";

html {
  font-size: 62.5%;
}
body {
  color: #444;
  font-size: 1.6rem;
  font-family: 'Noto Sans JP',"Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
  color: #444;
  text-decoration: none;
  display: block;
}
img {
  display: block;
}
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  display: block;
}
ul {
  list-style-type: none;
}

/* 共通 */
.sec-in {
  width: 1920px;
  margin: 0 auto;
}
.c-g {
  color: #21A937;
}
.bg-g {
  background: linear-gradient(transparent 70%,#99E5A5 30%);
}
.sec-wrapper-g {
  background-color: #F5FCF8;
  width: 100%;
  margin: 0 auto;
}
.ta-c {
  text-align: center;
}

/* ヘッダー */
.header {
  width: 1920px;
  margin: 0 auto;
}
.header-in {
  width: 1180px;
  height: 130px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-item {
  margin-right: 18px;
  text-align: right;
}
.header-text {
  font-size: 1.4rem;
  line-height: 1.4;
  margin-right: 8px;
  margin-bottom: 8px;
}
.header-img {
  width: 263px;
  height: 73px;
  margin-left: 9px;
}
.header-img-sp {
  display: none;
}
.tell {
  font-size: 0;
}
.tell-img {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: -3px;
  margin: 0;
  /* transform-origin: center center;
  transform: rotate(-12deg); */
}
.number {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 5px;
}
/* メインビュー */
.mv {
  position: relative;
  width: 1920px;
  height: 947px;
  margin: 0 auto 162px;
}
.bg-mv {
  width: 100%;
  height: 100%;
  background: url('../img/1474084_m.png') no-repeat center center;
  background-size: cover;
}
.mv-title {
  position: absolute;
  top: 133px;
  writing-mode: vertical-rl;
  font-size: 2.8rem;
  font-weight: bold;
  margin-left: 211px;
}
.mv-title-text {
  width: 102px;
  height: 565px;
  padding-top: 23px;
  margin-right: 80px;
  background-color: #fff;
  line-height: 102px;
}
.mv-title .c-g {
  display: inline-block;
}

/* アバウト */
.about-wrap {
  width: 1180px;
  margin: 0 auto 82px;
  display: flex;
  justify-content: space-between;
}
.about-box:first-of-type {
  margin-left: 31px;
}
.about-title {
  font-size: 2.4rem;
  font-weight: bold;
  padding-top: 32px;
  margin-bottom: 31px;
}
.about-title * {
  display: inline-block;
  line-height: 1.4;
}
.about-title .bg-g:first-of-type {
  margin-bottom: 34px;
}
.about-text {
  width: 415px;
  line-height: 2.4;
}
.about-img {
  width: 690px;
  height: auto;
  border-radius: 10px;
  margin-left: 44px;
}
.about-img-sp {
  display: none;
}

/* コンテンツ */
.contents {
  padding: 80px 0 82px;
}
.contents-title {
  display: inline-block;
  margin-bottom: 67px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.5;
}
.contents-sub-title {
  padding: 4px 0;
  margin-left: 64px;
}
.contents-box-title {
  margin: 40px 0;
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.5;
}
.contents-box:nth-of-type(1) .contents-box-title {
  margin-bottom: 36px;
}
.contents-box:nth-of-type(2) .contents-box-title,
.contents-box:nth-of-type(3) .contents-box-title {
  margin-bottom: 30px;
}
.contents-text {
  font-weight: bold;
  line-height: 2.4;
}
.contents-wrap {
  display: flex;
  padding-left: 401px;
  margin-top: 33px;
}
.contents-box {
  position: relative;
  width: 380px;
  height: 591px;
  background-color: #fff;
  border: 2px solid #C9C9C9;
  border-radius: 10px;
  padding: 0 28px;
}
.contents-box:not(:last-of-type) {
  margin-right: 20px;
}
.contents-img {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 187px;
  height: 187px;
  margin: 0 auto;
}
.contents-img-sp {
  display: none;
}

/* ニュース */
.news {
  padding-bottom: 112px;
}
.news-title {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.5;
}
.news-list {
  display: flex;
  font-weight: bold;
  font-size: 0;
  padding-bottom: 12px;
  border-bottom: 2px solid #E7E7E7;
}
.news-list:not(:first-of-type) {
  padding-top: 13px;
}
.news-box {
  display: flex;
  align-items: center;
  text-align: center;
}
.news-wrap {
  width: 1180px;
  padding: 43px 63px 36px 69px;
  margin: 71px 0 0 399px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 3px 6px #00000029;
}
.news-button {
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 2.3;
}
.news-button::after {
  content: '';
  display: inline-block;
  width: 0px;
  height: 0px;
  margin-left: 7px;
  vertical-align: -2px;
  border-left: 10px solid #444;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
.news-wrap button {
  margin-top: 35px;
  margin-left: auto;
}
.date,
.news-desc {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2.3;
}
.category {
  display: inline-block;
  width: 79px;
  padding: 6px 15px;
  background-color: #444;
  font-size: 1.2rem;
  color: #fff;
  /* line-height: 3.1; */
}
.date {
  margin-right: 28px;
}
.category {
  margin-right: 31px;
}
/* アクセス */
.access-wrap {
  width: 1180px;
  margin: 172px 0 0 399px;
  display: flex;
}
.iframe-wrap {
  position: relative;
  width: 608px;
  height: 440px;
}
.iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.info {
  width: 535px;
  margin-left: auto;
}
.access-img {
  width: 263px;
  height: 73px;
  margin: 25px 0 18px 0;
}
.access-img-sp {
  display: none;
}
.access-text {
  display: inline-block;
  margin-bottom: 20px;
  line-height: 2.3;
}
.access-text:first-of-type {
  margin-right: 16px;
}
.access .tell {
  margin-left: 4px;
}
/* .access .tell-img {
  margin-bottom: 3px;
} */
.medical-content {
  margin-top: 27px;
  margin-left: 4px;
  border-top: 2px solid #E7E7E7;
  border-bottom: 2px solid #E7E7E7;
}
.medical-wrap {
  display: flex;
  margin-bottom: 17px;
  font-size: 1.4rem;
  line-height: 2.4;
}
.medical-wrap:first-of-type {
  margin-top: 14px;
}
.medical-title {
  width: 84px;
  margin-right: 28px;
  border-right: 2px solid #E7E7E7;
}
.medical-box {
  display: flex;
}
.medical-box li:first-of-type {
  margin-right: 23px;
}
.medical-box li:nth-of-type(2) {
  margin-right: 17px;
}
.bg-g-medical {
  position: relative;
}
.bg-g-medical::after {
  position: absolute;
  top: -10px;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent 90%,#99E5A5 10%);
  z-index: -1;
}

/* フッター */
.footer {
  width: 1920px;
  margin: 0 auto;
  margin-bottom: 173px;
}
.copyright {
  width: 1180px;
  margin-left: 400px;
  font-size: 1.1rem;
  text-align: right;
}